<div class="left-margin">

<h1><%= @grill.name %></h1>

<%= image_tag @grill.image, :class => 'feature' if @grill.image.present? %>
    <ul>
        <li>Grill Model: <%= @grill.name %></li>
        <li>Location: <%= @grill.location %></li>
    </ul>
<% if @current_user.bookings.any? { |b| b.grill_id == @grill.id } %>
    <p>
        <%= button_to "Book Grill on #{ Date.parse(params[:date]).strftime '%A, %B %e, %Y' } for $#{ @grill.price_per_day } per day", book_grill_path(@grill.id, :date => params[:date]), :class => "btn btn-primary" if params[:date].present? %>
    </p>
    <p>Your existing booking details are below:</p>
    
    <% @current_user.bookings.where(:grill_id => @grill.id).each do |booking| %>
        <div class="controls">
            Booking: <%= booking.date.strftime '%A, %B %e, %Y' unless booking.date.nil? %>
            <%= link_to 'Edit booking', edit_booking_path(booking) %>
            <%= link_to 'Delete booking', booking, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
        </div>
<% end %>
    
    <% else %>
        <p>
            <%= button_to "Book Grill #{ Date.parse(params[:date]).strftime '%A, %B %e, %Y' } for $#{ @grill.price_per_day } per day", book_grill_path(@grill.id, :date => params[:date]), :class => "btn btn-primary" if params[:date].present? %>
        </p>
    <% end %>
    
    <p>
    <div class="controls">
        <%= link_to 'Edit grill', edit_grill_path(@grill) %>
        <%= link_to 'Delete grill', @grill, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    </div>
    </p>
    </div>
    </div>