<h1 class="headings">Welcome to Grillz!</h1>

<p>
<h2 class="headings">Instantly book a grill near you</h2>
</p>
<div class="section-1-container section-container">
    <div class="container">
        <div class="row">
            <div class="col section-1 section-description">

<%= form_tag grills_path, :class => 'form-control', :method => 'get' do %>
    <%= label_tag :Model %>
    <%= text_field_tag :name %>

    <%= label_tag :location %>
    <%= text_field_tag :location %>

    <%= label_tag :date %>
    <%= date_field_tag :date %>

    <%= submit_tag 'Search', :class => "btn btn-outline-primary" %>
<% end %>
            </div>
        </div>
    </div>
</div>
